src/utfstringinfo
src/utftex
src/errorflags.h
src/errormessages.h

*.o
*.lo
*.la

test/*.new
*.log
*.trs

config.*
aclocal.m4
autom4te.cache/
Makefile
Makefile.in
src/.deps/
src/.libs/
compile
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
stamp-h1
test-driver
